@tailwind base;
@tailwind components;
@tailwind utilities;

#App {
  background-image: url("./assets/bg-top.svg"), url("./assets/bg-bottom.svg");
  background-repeat: no-repeat;
  background-position:
    top right,
    bottom left;
}
